#ex01 .wrapper {
  transition-property: opacity 0.2s;
}

#ex01 .box:hover {
  background-color: #134459;
}

#ex02 .wrapper {
  transition-property: opacity 0.2s;
}

#ex02 .box:hover {
  background-color: #134459;
  transition-duration: 0.5s;
}
